
<h4>Registriere dich als Teilnehmer und nimm an unzähligen Veranstaltungen teil</h4>
<h4>... oder werde selbst zum Veranstalter und hoste eigene Events!</h4>
<div id="registration">
    <div class="container">
        <label>Nutzer-Typ:</label>
        <input type="radio" name="radio">Teilnehmer
        <input type="radio" name="radio">Veranstalter
    </div>
    <div class="container">
        <label>Vor- und Nachname:</label>
        <br>
        <input type="text" placeholder="Vor-und Nachname eingeben">
    </div>
    <div class="container">
        <label>E-Mail:</label>
        <br>
        <input type="text" placeholder="E-Mail-Adresse eingeben">
    </div>
    <div class="container">
        <label>Passwort:</label>
        <br>
        <input type="password" placeholder="Passwort eingeben">
    </div>
    <div class="container">
        <label>Passwort wiederholen:</label>
        <br>
        <input type="password" placeholder="Passwort wiederholen">
    </div>
    <br>
    <div class="container">
        <button class="loginButton"[routerlink]="/login"><a href="#!/login">Create</button>
        <button class="cancelButton" [routerlink]="/login"><a href="#!/login">Cancel</button>
    </div>
</div>
